
@import './utils/variables';




.card {
    flex: 1 1 calc(25% - 20px);
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    height: 340px;
    top: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding-right: 10px;
    


    @media (max-width:375px) {
        width: 230px;
        height: 230px;
        top: 25px;
        left: 5%;
    }

    @media (max-width: 576px) {
        flex: 1 1 100%;
        /*width: 270px;
        height: 270px;
        top: 25px;
        left: 15%;*/
    }

    @media (min-width:576px) and (max-width: 768px) {
        flex: 1 1 calc(50%  - 10px);
        margin-right: 20px;
        /*width: 240px;
        height: 240px;
        top: 35px;
        left: 20px;*/
    }

    /*@media (min-width:768px) and (max-width: 992px) {
        width: 280px;
        height: 280px;
        top: 25px;
        left: 10%;
    }*/

    
    
    
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    }
    
    div {
        position: absolute;
        bottom: 15px;
        left: 10px;
        color: $color-primary;
        font-size: 18px;
        font-weight: 700;
        font-style: Montserrat;
    }

    .card_link {
    display: block;
    width: fit-content;
    text-decoration: none;
    

    @media (max-width: 576px) {
        height: fit-content;
    }
}
}