
@import './utils/variables';

.card_link {
    display: block;
    width: fit-content;
    text-decoration: none;

    @media (max-width: 576px) {
        height: fit-content;
    }
}


.card {
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    height: 340px;
    top: 10px;
    left: 8px;
    border-radius: 10px;
    overflow: hidden;
    

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 240px;
    }
    
    
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    div {
        position: absolute;
        bottom: 15px;
        left: 10px;
        color: $color-primary;
        font-size: 18px;
        font-weight: 700;
        font-style: Montserrat;
    }

    
}