@import './utils/variables';


.collapse {
    position: relative;
    display: flex;
    flex-direction: column;
    color: $color-primary;
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;

    @media (max-width: 576px) {
        width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @media (min-width:576px) and (max-width: 768px) {
        margin-top: 40px;
    }


    .header-collapse  {
        border-radius: 5px;
        background-color: $color-secondary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        max-height: 50px;

        @media (max-width: 576px) {
            font-size: 18px;
            font-family: 'Montserrat';
            line-height: 19px;
        }
    }

    .collapse-arrow {
        height: auto;
        margin-right: 20px;
        margin-top: 0px;
        transition: transform 0.3s ease;
    }

    .collapse-content {
        background-color: $color-quaternary;
        padding: 10px;
        display: none;
        height: 180px;
        font-size: 18px;
        overflow: hidden;
        

        @media (max-width: 576px) {
            font-size: 15px;
        }
    }

    &.open {
        background-color: $color-tertiary;
        width: 70%;
    
        .collapse-content {
        color: $color-quaternary;   
        background-color: $color-tertiary;
        display: block; 
        max-height: 200px;
        animation: fadeIn 0.5s ease forwards;
        }
        
        @media (max-width:576px) {
            width: 90%;
            margin-bottom: 50px;
            height: auto;
        }

        @media (min-width: 576px) and (max-width: 1023px) {
            height: auto;
        }

        @media (min-width: 1024px) {
            height: auto;
        }

        .collapse-arrow {
            transform: rotate(-180deg);
        }

    }

    

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    
}

///////////////////// COLLAPSE POUR PAGE HOUSING ///////////////////////

.logement_collapse {
    position: relative;
    bottom: 100px;
    height: 10px;
    max-width: auto;
    margin-bottom: 280px;
    margin-top: 30px;

    .collapse-group {
        display: flex;
        flex-direction: row;
        max-height: 10px;
        max-width: 88%;
        margin: 0 auto;
        
        .collapse {
            flex: 1;
           
            @media (max-width: 576px) {
                width: 100%;
                height: auto;
            }

            @media (min-width: 576px) and (max-width: 768px) {
                width: 100%;
            }
        }
        


        @media (min-width: 576px) and (max-width: 768px){
            flex-wrap: wrap;
            margin-right: 30%;
            margin: 0 auto;
        }

        @media (max-width: 1024px) {
            margin: auto;
        }
} 

.open {
    height: auto;
    
    .collapse-content {
        display: block;
        padding: 15px;
        max-height: auto;
        z-index: 1;
        }

        ul {
            display: flex;
            list-style: none;
            flex-direction: column;
            padding: 0;
            margin: 0;
            height: auto;

            li {
                margin-bottom: -50px;
                font-size: 18px;

                @media (max-width: 576px) {
                    padding: 0;
                    margin: 0;
                    font-size: 16px;
                    line-height: 2px;
                }
            }
        
    }
}


 
}