
@import './utils/variables';
@import './utils/mixins';


header {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: nowrap;
    max-width: 1240px;

    @media (max-width: 576px) {
        padding: 0;
        max-width: 90%;
    }

    @media (min-width: 576px) and (max-width:768px ){
        max-width: 90%;
    }

    @media (min-width:768px) and (max-width: 1024px) {
        max-width: 90%;
    }

    @media (min-width: 1024px) {
        max-width: 88%;
        
    }

    .Logo-kasa {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    padding: 0;
    
    @media (max-width:576px) {
        padding-bottom: 20px;
    }
    
    @media (max-width: 768px) {
        padding-bottom: 30px;
        margin-left: 0;
    }

    @media (max-width: 1024px) {
       margin-left: 0;
    }

    @media (min-width: 1024px) {
        padding: auto;
    }

    }

    .nav-space {
    padding: 0;

    @media (max-width: 576px) {
        margin-left: -30px;
    }
    }

}