@import '../sass/utils/variables';

.host {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    bottom: 120px;
    max-width: 1240px;
    margin: auto;

    

    .host-info {
        display: flex;
        align-items: center;
        justify-content: flex-end;


    @media (max-width: 768px) {
        margin-top: 130px;
    }
  
        .host-name {
        max-width: 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: $color-secondary;
        text-align: right;
        margin-right: 30px;

        @media (max-width: 576px) {
            margin-right: 10px;
        }
     }

        .host-img {
            width: 64px;
            height: 64px;
            border-radius: 50px;
            margin-left: 15px;
        }

    }

    .rating {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        
        img {
            margin-right: 10px;
        }

        
        @media (max-width: 768px) {
            position: relative;
            justify-content: flex-start;
            margin-top: -50px;
            margin-left: 40px;

            img {
                width: 15px;
                height: 15px;
            }
        }
    }

    
}



