
@import './utils/variables';
@import './utils/mixins';

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    

    .Logo-kasa {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 75px;
    
    @media (max-width: 768px) {
        width: 145px;
        margin-left: 5%;
        padding-right: 5%;
    }
    }

    .nav-space {
    padding-right: 43vb;
    }

}



footer {
    @include center;
    margin-top: 10px;
    width: 100%;
    height: 210px;
    display: flex;
    background-color: $color-quaternary;

    @media (max-width: 768px) {
        margin-top: 25vh;
    }

    .Logo-Footer {
        width: 120px;
        height: 38px;
        margin-bottom: 50px;
    }

    p {
        margin-top: 120px;
        position: absolute;
        color: $color-primary;
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;

        @media (max-width: 768px) {
            text-align: center;
            margin-top: 70px;
            font-size: 15px;
            width: 120px;
            line-height: 20px;
        }
    }

}



