@import './utils/variables';
@import './utils/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

a {
    display: flex;
    text-decoration: none;
    color: $color-quaternary;
}