
@import './utils/mixins';
@import './utils/variables';

ul {
    width: auto;
    display: flex; 
    position: relative ;
    gap: 40px;
    margin-top: 70px;
    padding: 0;
    
    

    @media (max-width : 576px) {
        gap: 20px;
        margin-top: 50px;
        width: 100%;
    }

    @media (min-width: 1200px) {
        margin-right: 20px;
    }

    
    li{
    font-size: 24px;
    list-style: none;

    @media (max-width : 768px) {
        font-size: 15px;
    }
}
   
}

    

