@import './main';
@import './utils/variables';
@import './utils/mixins';

.main_error {
    @include center;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4.1vh;
    color: $color-secondary;

    &_404 {
        font-family: 'Montserrat';
        font-size: 200px;
    }

    &_content {
        font-size: 36px;
    }

    &_link {
        margin-top: 90px;
        font-size: 18px;
        text-decoration: underline;
        font-weight: 500;
        font-family: 'Montserrat';
    }
}

