@import './utils/variables';

.tags-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
    right: 15px;
    gap: 10px;

    .tags {
        display: inline-block;
        background-color: $color-secondary;
        color: $color-primary;
        padding: 5px 15px;
        border-radius: 10px;
        margin-right: 10px;
    }
}