@import './utils/variables';
@import './utils/mixins';
@import './banner';
@import './card';
@import './collapse';
@import './gallery';
@import './housing';
@import './header';
@import './footer';
@import './navbar';
@import './notfound404';
@import './about';
@import './carousel';
@import './host';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

a {
    display: flex;
    text-decoration: none;
    color: $color-quaternary;
}