.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  height: 220px;
  max-width: 90%;
  border-radius: 25px;
  padding: 20px;
  margin: 35px auto;
  overflow: hidden;
}
@media (max-width: 576px) {
  .banner {
    height: 100px;
    border-radius: 10px;
    max-width: 90%;
    margin: -15px auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .banner {
    height: 150px;
    width: 100%;
    max-width: 90%;
    margin: -15px auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    width: 90%;
    height: 180px;
    margin: 30px auto;
  }
}
.banner__img {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.banner__text {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  z-index: 2;
}
@media (max-width: 576px) {
  .banner__text {
    font-size: 24px;
    font-weight: 700;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .banner__text {
    font-size: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__text {
    font-size: 36px;
  }
}
.banner__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.3;
  z-index: 1;
}

.card {
  flex: 1 1 calc(25% - 20px);
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  height: 340px;
  top: 10px;
  border-radius: 10px;
  overflow: hidden;
  padding-right: 10px;
  /*@media (min-width:768px) and (max-width: 992px) {
      width: 280px;
      height: 280px;
      top: 25px;
      left: 10%;
  }*/
}
@media (max-width: 375px) {
  .card {
    width: 230px;
    height: 230px;
    top: 25px;
    left: 5%;
  }
}
@media (max-width: 576px) {
  .card {
    flex: 1 1 100%;
    /*width: 270px;
    height: 270px;
    top: 25px;
    left: 15%;*/
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 10px);
    margin-right: 20px;
    /*width: 240px;
    height: 240px;
    top: 35px;
    left: 20px;*/
  }
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card div {
  position: absolute;
  bottom: 15px;
  left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-style: Montserrat;
}
.card .card_link {
  display: block;
  width: fit-content;
  text-decoration: none;
}
@media (max-width: 576px) {
  .card .card_link {
    height: fit-content;
  }
}

.collapse {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .collapse {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .collapse {
    margin-top: 40px;
  }
}
.collapse .header-collapse {
  border-radius: 5px;
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  max-height: 50px;
}
@media (max-width: 576px) {
  .collapse .header-collapse {
    font-size: 18px;
    font-family: "Montserrat";
    line-height: 19px;
  }
}
.collapse .collapse-arrow {
  height: auto;
  margin-right: 20px;
  margin-top: 0px;
  transition: transform 0.3s ease;
}
.collapse .collapse-content {
  background-color: #000000;
  padding: 10px;
  display: none;
  height: auto;
  font-size: 18px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .collapse .collapse-content {
    font-size: 15px;
  }
}
.collapse.open {
  background-color: #f6f6f6;
  width: 70%;
}
.collapse.open .collapse-content {
  color: #000000;
  background-color: #f6f6f6;
  display: block;
  max-height: none;
  animation: fadeIn 0.5s ease forwards;
}
@media (max-width: 576px) {
  .collapse.open {
    width: 90%;
    margin-bottom: 50px;
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 1023px) {
  .collapse.open {
    height: auto;
  }
}
@media (min-width: 1024px) {
  .collapse.open {
    height: auto;
  }
}
.collapse.open .collapse-arrow {
  transform: rotate(-180deg);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logement_wrapper {
  min-height: 100vh;
}
.logement_wrapper.with-open-collapse {
  padding-bottom: 220px;
}

.logement_collapse {
  height: auto;
  max-width: 1240px;
  width: 90%;
  margin: 30px auto 200PX;
}
.logement_collapse .logement_group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 10px;
  max-width: 1440px;
  margin: 0 auto;
  gap: 20px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .logement_collapse .logement_group {
    width: 100%;
  }
}
.logement_collapse .logement_group .collapse {
  height: auto;
  flex: 1 1 48%;
}
.logement_collapse .logement_group .collapse .collapse-content {
  height: 180px;
}
@media (max-width: 576px) {
  .logement_collapse .logement_group .collapse {
    /*width: 100%;
    height: auto;*/
    flex: 1 1 100%;
    margin-bottom: -30px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .logement_collapse .logement_group .collapse {
    /*width: 100%;*/
    flex: 1 1 100%;
    margin-bottom: -30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logement_collapse .logement_group .collapse {
    flex: 1 1 100%;
  }
  .logement_collapse .logement_group .collapse ul {
    line-height: 30px;
  }
}
@media (min-width: 1024px) {
  .logement_collapse .logement_group .collapse ul {
    line-height: 30px;
  }
}
@media (max-width: 1024px) {
  .logement_collapse .logement_group {
    width: 100%;
    flex-wrap: wrap;
  }
}

.gallery_container {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-bottom: 20px;
  /*max-width: 1240px;
  height: 380vh;
  padding: 50px;
  gap : 60px;
  flex-wrap: wrap;
  border-radius: 25px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);*/
}
@media (max-width: 576px) {
  .gallery_container {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .gallery_container {
    grid-template-columns: 1fr 1fr;
    height: auto;
    gap: 40px;
    padding: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gallery_container {
    grid-template-columns: 1fr 1fr;
    height: auto;
    gap: 50px;
    padding: 40px;
  }
}
@media (max-width: 992px) {
  .gallery_container {
    background-color: #fff;
  }
}

.house-info {
  width: 87%;
  margin: 0 auto;
}
.house-info h1 {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 52px;
  margin-left: -20px;
}
.house-info p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-left: -20px;
}
@media (max-width: 576px) {
  .house-info {
    width: 80%;
  }
  .house-info h1 {
    font-size: 20px;
  }
  .house-info p {
    font-size: 15px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .house-info {
    margin-top: 30px;
    width: 80%;
  }
  .house-info h1 {
    font-size: 28px;
  }
  .house-info p {
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .house-info {
    width: 85%;
  }
  .house-info h1 {
    font-size: 32px;
  }
}

header {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: nowrap;
  max-width: 1240px;
}
@media (max-width: 576px) {
  header {
    padding: 0;
    max-width: 90%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header {
    max-width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    max-width: 90%;
  }
}
@media (min-width: 1024px) {
  header {
    max-width: 88%;
  }
}
header .Logo-kasa {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  padding: 0;
}
@media (max-width: 576px) {
  header .Logo-kasa {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  header .Logo-kasa {
    padding-bottom: 30px;
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  header .Logo-kasa {
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  header .Logo-kasa {
    padding: auto;
  }
}
header .nav-space {
  padding: 0;
}
@media (max-width: 576px) {
  header .nav-space {
    margin-left: -30px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: auto;
  width: 100%;
  /*height: 210px;*/
  background-color: #000000;
  padding-bottom: 0;
}
footer .Logo-Footer {
  width: 120px;
  height: 38px;
  margin-bottom: 50px;
}
footer p {
  margin-top: 120px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
}
@media (max-width: 768px) {
  footer p {
    text-align: center;
    margin-top: 70px;
    font-size: 15px;
    width: 120px;
    line-height: 20px;
  }
}

ul {
  width: auto;
  display: flex;
  position: relative;
  gap: 40px;
  margin-top: 70px;
  padding: 0;
}
@media (max-width: 576px) {
  ul {
    gap: 20px;
    margin-top: 50px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  ul {
    margin-right: 20px;
  }
}
ul li {
  font-size: 24px;
  list-style: none;
}
@media (max-width: 768px) {
  ul li {
    font-size: 15px;
  }
}

.main_error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ff6060;
  margin-bottom: 145px;
}
@media (max-width: 768px) {
  .main_error {
    margin-bottom: 18%;
  }
}
@media (min-width: 1024px) {
  .main_error {
    margin-bottom: 15%;
  }
}
.main_error_404 {
  font-size: 200px;
}
@media (max-width: 576px) {
  .main_error_404 {
    margin-top: 30px;
    font-size: 150px;
  }
}
.main_error_content {
  font-size: 36px;
}
@media (max-width: 576px) {
  .main_error_content {
    margin-top: 80px;
    font-size: 24px;
    text-align: center;
  }
}
.main_error_link {
  margin-top: 60px;
  font-size: 18px;
  text-decoration: underline;
  font-weight: 500;
}

.Carousel {
  position: relative;
  width: 90%;
  height: 415px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .Carousel {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .Carousel {
    width: 90%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .Carousel {
    width: 90%;
    height: auto;
  }
}
.Carousel img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}
@media (max-width: 576px) {
  .Carousel img {
    object-fit: cover;
    max-width: 100%;
    max-height: 255px;
  }
}
.Carousel .carousel-arrow {
  position: absolute;
  top: 45%;
  cursor: pointer;
  z-index: 1000;
  width: 75px;
  height: 85px;
}
@media (max-width: 576px) {
  .Carousel .carousel-arrow {
    width: 25px;
    height: 35px;
    top: 50%;
  }
}
.Carousel .carousel-arrow-left {
  left: 10px;
}
.Carousel .carousel-arrow-right {
  right: 10px;
}
.Carousel .counter {
  position: absolute;
  color: #fff;
  font-size: 18px;
  right: 50%;
  bottom: 25px;
  display: inline;
}

.host {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  bottom: 120px;
  max-width: 1240px;
  margin: 20px auto;
}
@media (max-width: 576px) {
  .host {
    margin: 0;
  }
}
.host .host-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .host .host-info {
    position: relative;
    left: 30px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .host .host-info {
    margin-top: 130px;
    margin-left: 50px;
  }
}
@media (max-width: 1240px) {
  .host .host-info {
    margin-right: 50px;
  }
}
.host .host-info .host-name {
  max-width: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #ff6060;
  text-align: right;
  margin-right: 30px;
}
@media (max-width: 576px) {
  .host .host-info .host-name {
    margin-right: 30px;
  }
}
.host .host-info .host-img {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  margin-left: 15px;
}
@media (max-width: 576px) {
  .host .host-info .host-img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
}
@media (max-width: 768px) {
  .host .host-info .host-img {
    width: 56px;
    height: 56px;
    margin-right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1024) {
  .host .host-info .host-img {
    margin-right: 55px;
  }
}
.host .rating {
  display: flex;
  margin-top: 20px;
}
.host .rating img {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .host .rating {
    margin-top: -40px;
    margin-left: 5%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .host .rating {
    position: relative;
    margin-top: -50px;
    margin-left: 50px;
  }
  .host .rating img {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 1024px) {
  .host .rating {
    margin-right: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  display: flex;
  text-decoration: none;
  color: #000000;
}

/*# sourceMappingURL=main.css.map */
